//colors
$primary-color: hsl(4, 100%, 67%);

$neutral-color: hsl(234, 29%, 20%);
$neutral-color-secundary: hsl(235, 18%, 26%);
$neutral-color-terciary: (231, 7%, 60%);
$white: hsl(0, 0%, 100%);

//fonte
$primary-font: 'Roboto', sans-serif;